<section class="total-balance justify-center">
    <div class="total-balance-chart">
        <doughnut-chart></doughnut-chart>
    </div>
    <div class="flex flex-col gap-6">
        <h2 class="header-2">
            Bank Accounts: {{totalBal.totalBanks}}
        </h2>
        <div class="flex flex-col gap-2">
            <p class="total-balance-label">
                Total Current Balance
            </p>
            <p [countUp]="totalBal.totalCurrentBalance" [options]="{ decimalPlaces: 2, decimal: '.', duration: 2, prefix: '$' }" class="total-balance-amount flex-center gap-2">0</p>
        </div>
    </div>
</section>